.lab{
    & .grabbable{
        cursor: grab;
    }
    & .button.collapse-control{
        border-radius: 50%;
        aspect-ratio: 1;
        height: 2rem;
        width: 2rem;
        position: absolute;
        z-index: 10;
        margin: 0;
        padding: 0;
        top: 1rem;
    }
    & .button.add-tab{
        border-radius: 50%;
        aspect-ratio: 1;
        height: 2rem;
        width: 2rem;
    }
    

    & .leftShelf .collapse-control{
        transform: translateX(50%);
        right: 0;
    }
    & .rightShelf .collapse-control{
        transform: translateX(-50%);
        left: 0;
    }
    &.leftExpanded .leftShelf{width : 12rem}
    &.leftCollapsed .leftShelf{width : 2rem;}
    &.rightExpanded .rightShelf{width : 12rem}
    &.rightCollapsed .rightShelf{width : 2rem;}
    & .shelf{
        gap: 1rem;
        padding-bottom: 1rem;
        position: absolute;
        top: 0;
        bottom: 0;
        box-shadow: 0 0 .5rem .25rem #0004;
        transition: width .5s ease-in-out;
        display: flex;
        flex-direction: column;
        align-content: center;
        & > *:not(.collapse-control) {
            visibility: collapse;
        }
        &.expanded > *:not(.collapse-control) {
            visibility: visible;
            animation: .2s linear expandContent forwards;
        }
        & h3.shelf-title{
            text-transform: uppercase;
            letter-spacing: .3ch;
            margin: 1rem 0;
            padding: .5rem 1.5rem;
            font-size: .75rem;
            font-weight: bold;
        }
        & div.shelf-section{
            display: flex;
            flex-direction: column;
            background: #0001;
            padding: .5rem;
            gap: .5rem;
            & h4.shelf-section-title{
                text-transform: uppercase;
                letter-spacing: .3ch;
                font-size: .75rem;
                font-weight: bold;
            }
        }
    }
    & .leftShelf{
        left: 0;
        & .shelf-title{
            text-align: end;
        }
        & .available-data {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 1rem;
        }
        & .shelf-section{
            align-items: flex-end;
        }
        & .back-button{
            margin: 0 1rem;
        }
    }
    & .rightShelf{right: 0;}
    & .lab-body{
        &.side-tabs{
            grid-template-columns: auto 1fr;
            grid-template-rows: 1fr;
            & .lab-content {
                grid-column-start: 2;
            }
        }
        &.top-tabs{
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
            & .lab-content {
                grid-row-start: 2;
            }
        }
        &.none-tabs{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            & .lab-content {
                grid-column-end: span 2;
            }
        } 
        & .subtabsbox{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
            align-self:self-start;
        }
        display: grid;
        gap:.5rem;
        padding: 2rem;
        transition: padding .5s ease-in-out;
        min-height: 100vh;
        place-content: stretch;
        & .lab-content{
            display: grid;
            &.empty{
                background: #00226616;
                border: .25rem dashed #0004;
                border-radius: 1rem;
                display: flex;
                padding: 2rem;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &.leftExpanded .lab-body{padding-left : 13rem}
    &.leftCollapsed .lab-body{padding-left : 4rem}
    &.rightExpanded .lab-body{padding-right : 14rem}
    &.rightCollapsed .lab-body{padding-right : 5rem}
}

@keyframes expandContent {
    from {opacity: 0;}
    50% {opacity: 0;}
    to {opacity: 1 !important;}
}