.lab{
    & .button.collapse-control{
        border-radius: 50%;
        aspect-ratio: 1;
        height: 2rem;
        width: 2rem;
        position: absolute;
        z-index: 10;
        margin: 0;
        padding: 0;
        top: 1rem;
    }
    & .leftShelf .collapse-control{
        transform: translateX(50%);
        right: 0;
    }
    & .rightShelf .collapse-control{
        transform: translateX(-50%);
        left: 0;
    }
    &.leftExpanded .leftShelf{width : 12rem}
    &.leftCollapsed .leftShelf{width : 2rem;}
    &.rightExpanded .rightShelf{width : 12rem}
    &.rightCollapsed .rightShelf{width : 2rem;}
    & .shelf{
        & > * {
            padding: 0 2rem;
        }
        gap: 1rem;
        position: absolute;
        top: 0;
        bottom: 0;
        box-shadow: 0 0 .5rem .25rem #0004;
        transition: width .5s ease-in-out;
        display: flex;
        flex-direction: column;
        align-content: center;
        & > *:not(.collapse-control) {
            visibility: collapse;
        }
        &.expanded > *:not(.collapse-control) {
            visibility: visible;
            animation: .2s linear expandContent forwards;
            color: #444;
        }
        & h3.shelf-title{
            text-transform: uppercase;
            letter-spacing: .3ch;
            margin: 1rem 0;
            padding: .5rem 1.5rem;
            font-size: .75rem;
            font-weight: bold;
        }
        & div.shelf-section{
            display: flex;
            flex-direction: column;
            background: #0001;
            padding: .5rem;
            gap: .5rem;
            & h4.shelf-section-title{
            }
        }
    }
    & .leftShelf{left: 0;}
    & .rightShelf{right: 0;}
    & .labBody{
        padding: 2rem;
        transition: padding .5s ease-in-out;
    }
    &.leftExpanded .labBody{padding-left : 15rem}
    &.leftCollapsed .labBody{padding-left : 6rem}
    &.rightExpanded .labBody{padding-right : 15rem}
    &.rightCollapsed .labBody{padding-right : 6rem}
}

@keyframes expandContent {
    from {opacity: 0;}
    50% {opacity: 0;}
    to {opacity: 1 !important;}
}